<!DOCTYPE html>
<html>

<head>
  <title>Dog BnB</title>
<style>
body {
  display: flex;
  font-family: Roboto;
}
.main {
  margin: auto;
}
.input {
  margin: 12px 0;
}
</style>
</head>

<body>
  <div class="main">
    <h1>Welcome to Dog BnB!</h1>
    <form method="GET" action="/match">
      <div class="input">
        I am a
        <input type="radio" name="client-type" value="dog" id="ct-dog">
          <label for="ct-dog">Dog</label>
        </input>
        <input type="radio" name="client-type" value="host" id="ct-host">
          <label for="ct-host">Host</label>
        </input>
      </div>
      <div class="input">
        Name: <input type="text" name="client-name" placeholder="My Name"></input>
      </div>
      <div class="input">
        Email: <input type="email" name="client-email" placeholder="My Email Address"></input>
      </div>
      <div class="input">
        I am free from
        <input type="date" name="client-from"></input>
        to
        <input type="date" name="client-to"></input>
      </div>
      <div class="input">
        <button action="submit">Go!</submit>
      </div>
    </form>
  </div>
</body>

</html>
